<!DOCTYPE>
<html lang="fr">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Mon Bon Repas</title>

<link rel="stylesheet" href="public/css/parallax.css" type="text/css" media="screen"/>    
</head>

<body>
     <div id="login" style="position:relative;">

        <h1>Connectez-vous ! :)</h1>

        <form method="post" action="" enctype="multipart/form-data">

            <fieldset>

               <form method="post" action="" enctype="multipart/form-data">
      <p><input type="email" name="mail" id="mail" placeholder="Adresse e-mail" required autocomplete="off"/><?php if($errorMsg['mail']){echo 'value="error"';} ?> </p>
                <p><input type="password" name="passwd" id="passwd" placeholder="Mot de passe" required autocomplete="off"/><?php if($errorMsg['passwd']){echo 'value="error"';} ?><br/>
      <?php echo $check['mail'];  ?>
      <input type="submit" value="Envoyer" />

            </fieldset>

        </form>
    
  
</body>
</html>




