<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>MonBonRepas - Repas</title>
	<meta name="description" content="">
	<link rel="stylesheet" href="public/css/style.css" type="text/css" media="screen"/>
	<script type="text/javascript" src="public/js/jquery.js"></script>
	<script type="text/javascript" src="public/js/calendrier.js"></script>
	<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
	<script type="text/javascript" src="public/js/lib/supersized.3.2.7.js"></script>
	<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
	<script type="text/javascript" src="public/js/gmap.js"></script>
	<script type="text/javascript" src="public/js/calendrier.js"></script>
</head>
<body>
  <a href="dashboard"><img class="logo" src="public/images/logo.png" alt="MonBonRepas"></a>
  <div class="content">
  						<!-- /////////////////////// NAVIGATION /////////////////////// -->
		<nav>
			<a href="Profil">
				<div class="profil">
					
					<div style="position:relative; height:86px;">
						<div class="circular">
						</div>
					</div>
						
					
					     <p style="text-align:center; "><?php echo $profil->prenom." ".$profil->nom ?></p>
				</div>
			</a>
			<hr style="position:relative; top:25px;" /> 
			<a href="Gest_Repas">
						<div class="gerer"></div>
					    <p style="text-align:center">Gérer les repas</p>
			</a>
			<hr style="position:relative; top:10px;" /> 
			<a href="Crea_Repas">
						<div class="organiser"></div>
					    <p style="text-align:center;">Organiser un repas</p>
			</a>
			<hr style="position:relative; top:10px;" /> 
			<a href="Contact">
						<div class="voscontact"></div>
					    <p style="text-align:center;">Vos contacts</p>
			</a>
			<a href="logout" style="position:relative;left:25px;opacity:0.4;">Déconnection</a>
		</nav>     <!-- /////////////////////// NAVIGATION /////////////////////// -->
  <div class="corps">
      <h2>CREEZ UN REPAS</h2>
     
	  <form method="post" action="" enctype="multipart/form-data" id="ajout">
			 
				<input type="text" placeholder="titre" name="titre" id="titre" value="" autocomplete="off"/>
				<input type="text" placeholder="position" name="position" id="position" value="" autocomplete="off"/>
				<a href="" id="search-position">cliquez</a>
				<div style="display:block;height:465px;" id="map_canvas"></div>
				<input type="hidden" name="lat" value="" id="lat"/>
				<input type="hidden" name="lng" value="" id="lng"/>
			
		</div>
	 
			<span  class="com" style="height:800px;padding:10px;">
					<span id="arrow"></span>
					<h1 style="position:relative; left:20px;">Liste de contact</h1>
					<div>
							<?php foreach($contacts as $contact) : ?>
								<label><?php echo $contact; ?> : <input type="checkbox" value="<?php echo $contact; ?>" name="contact[]"></label>
							<?php endforeach; ?>
						</span>
						<label style="background:none" for="mail">Adresse mail de vos invités</label> : <span id="inputadd"></span><input type="email" name="mail[]" placeholder="adresse mail" autocomplete="off" /><?php echo $error; ?> <br/>
					<h2><a href="#" id="button">Ajoutez une adresse + </a></h2>
					
					<label style="background:none"><input type="text" onclick="ds_sh(this);" name="date" placeholder="Entrez une date"></label>
					
					<!-- Tableau obligatoire ! C'est lui qui contiendra le calendrier ! -->
					<table class="ds_box" cellpadding="0" cellspacing="0" id="ds_conclass" style="display: none;">
						<tr>
							<td id="ds_calclass"></td>
						</tr>
					</table>
					</div>
					<input type="submit" value="Envoyer" />
			</span>
		
	  </form >
</div>
  <span class="trama"></span>
  <script type="text/javascript">
	window.onload = function() {
		var form = document.getElementById('ajout');
		var button = document.getElementById('button');
		var nb = 2;
		
		button.onclick = function() {
			var input = document.createElement("input");
			input.type = "text";
			input.name = "mail[]";
			input.placeholder = "Invité "+nb;
			document.getElementById('inputadd').appendChild(input);
			nb++;
		}
	}
  </script>
</body>
</html>




