<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Gérer votre repas</title>
	<meta name="description" content="">

	<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="public/css/style.css" type="text/css" media="screen"/>
	<script type="text/javascript" src="public/js/jquery.js"></script>
</head>
<body>
  <a href="dashboard"><img class="logo" src="public/images/logo.png" alt="MonBonRepas"></a>
  <div class="content">
  						<!-- /////////////////////// NAVIGATION /////////////////////// -->
		<nav>
			<a href="Profil">
				<div class="profil">
					
					<div style="position:relative; height:86px;">
						<img class="circular" src="<?php echo $session_info->avatar; ?>">
					</div>
					     <p style="text-align:center; "><?php echo $session_info->prenom." ".$session_info->nom ?></p>
				</div>
			</a>
			<hr style="position:relative; top:25px;" /> 
			<a href="Gest_Repas">
						<div class="gerer"></div>
					    <p style="text-align:center">Gérer les repas</p>
			</a>
			<hr style="position:relative; top:10px;" /> 
			<a href="Crea_Repas">
						<div class="organiser"></div>
					    <p style="text-align:center;">Organiser un repas</p>
			</a>
			<hr style="position:relative; top:10px;" /> 
			<a href="Contact">
						<div class="voscontact"></div>
					    <p style="text-align:center;">Vos contacts</p>
			</a>
			<a href="logout" style="position:relative;left:25px;opacity:0.4;">Déconnection</a>
		</nav>     <!-- /////////////////////// NAVIGATION /////////////////////// -->
  <section>
<div class="corps">
      <h1>GEREZ VOTRE REPAS</h1>
	  <section >
	  <h2>Nouvelles invitations</h2>
	  <hr>
	  <h2> <img style="position:relative;top:3px;" src="public/images/accept.png" alt=""> Invitations acceptées :</h2>
	  <?php foreach($repas as $invits): ?>
		<?php 
			$id=$invits->id_repas;
			$statut=$invits->statut;
			if($statut=="accepter") 
			{?>
		 <p><a href="repas?action=<?php echo $id; ?>">
		 <?php 
			foreach($contact as $contacts)
				{
					if(($contacts->id)==($invits->log_crea)) // ID
					{
						echo $invits->titre.' reçu le '.$invits->date;
					}
				}
		?></a></p>
		  <?php }?>
	 <?php endforeach; ?>
	 <hr>
	<h2> <img style="position:relative;top:3px;" src="public/images/croix13.png" alt=""> Invitations refusées :</h2>
	 <?php foreach($repas as $invits): ?>
		  <?php 
			$id=$invits->id_repas; 
			$statut=$invits->statut;
			if($statut=="refuser") 
			{?>
			<p><a href="repas?action=<?php echo $id; ?>">
			<?php 
				foreach($contact as $contacts)
				{
					if(($contacts->id)==($invits->log_crea)) // ID
					{
						echo $invits->titre.' reçu le '.$invits->date;
					}
				}
			?></a></p>
			<?php }?>
	 <?php endforeach; ?>
	 <hr>
	 <h2> <img style="position:relative;top:3px;" src="public/images/courier.png" alt=""> Invitations non lues :</h2>
	  <?php foreach($repas as $invits): ?>
		<?php	
			$id=$invits->id_repas; 
			$statut=$invits->statut;
			if($statut=="non_lu") 
			{?>
		 <p><a href="repas?action=<?php echo $id; ?>">
		 <?php 
			foreach($contact as $contacts)
				{
					if(($contacts->id)==($invits->log_crea)) // ID
					{
						echo '<img style="position:relative;top:5px;" src="public/images/alert.png" alt=""> '.$invits->titre.' reçu le '.$invits->date;
					}
				}
		 ?></a></p>
		  <?php }?>
      <?php endforeach; ?>
</div>
<span  class="com" style="height:800px;padding:10px;">
	  <h1>GEREZ VOS REPAS</h1>                         <!-- NOUVEAU -->
	  <h2>Vos repas</h2>
	  <?php foreach($crea_repas as $crea): ?>
		<p><a href="repas?action=<?php echo $crea['id_repas']; ?>">
		<?php 
			echo $crea['titre'].' créé le '.$crea['date']; 
		?></a></p>
	 <?php endforeach; ?>
</span>
  
</body>
</html>