<!DOCTYPE>
<html lang="fr">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Mon Bon Repas</title>

<link rel="stylesheet" href="public/css/parallax.css" type="text/css" media="screen"/>
<script type="text/javascript" src="public/js/jquery.js"></script>
<script type="text/javascript" src="public/js/jquery.jparallax.js"></script>


<style type="text/css" media="screen">
    
</style>
<script type="text/javascript">
$(document).ready(function () {  
       $('#parallax').jparallax();
});  
</script>

</head>

<body>

	<div class="conteneur" style="width:1000px">
	
		<div id="parallax" style="position:relative;width:1000px;height:650;">
			    		

            <p style="text-align:center; width:970px;height:470px;"><img src="public/images/fourchette2.png"/></p>
            <p style="text-align:center; width:980px;height:600px;padding-left:190px;"><img src="public/images/banane.png"/></p>
            <p style="text-align:center; width:570px;height:470px;padding-left:160px;"><img src="public/images/couteau.png"/></p>
            <p style="width:900px;height:600px;padding-top:200px; padding-left:600px;"><img src="public/images/carrotte.png"/></p>
            <p style="width:900px;height:600px;padding-right:100px; padding-top:0px;"><img src="public/images/assiette2.png"/></p>
            <p style="width:800px;height:550px;padding-top:0px;"><img src="public/images/legume3.png"/></p>
            <p style="width:900px;height:470px;padding-top:50px;"><img src="public/images/legume2.png"/></p>
            <p style="text-align:center; width:780px;height:465px;padding-left:300px;"><img src="public/images/cuilliere.png"/></p>
            <p style="width:780px;height:465px;padding-top:0px;"><img src="public/images/fourchette.png"/></p>
            <p style="text-align:center;width:1000px;height:650px;padding-top:110px"><img src="public/images/assiette1.png"/></p>
            
        </div>
           
    </div>
    <div style="position:relative;margin:auto; width:700px;top:-50px;color:#ff591e;">
        <img style="position:relative; top:40px;padding:10px;" src="public/images/quote1.png" alt=""> INVITER, CRÉER ET ORGANISER UN REPAS EST DEVENU SI SIMPLE...  <img src="public/images/quote2.png" alt=""> 
    </div>

    <div id="login" style="position:relative;">

        <h1>Inscrivez-vous ! :)</h1>

        <form method="post" action="" enctype="multipart/form-data">

            <fieldset>

                <p><input type="text" name="prenom" id="prenom" placeholder="Prénom" autocomplete="off" required /><?php if($errorMsg['prenom']){echo 'value="error"';} ?></p> 

                <p><input type="text" name="nom" id="nom" placeholder="Nom" required autocomplete="off"/><?php if($errorMsg['nom']){echo 'value="error"';} ?> </p>
                <p><input type="email" name="mail" id="mail" placeholder="Adresse e-mail" required autocomplete="off"/><?php if($errorMsg['mail']){echo 'value="error"';} ?> </p>
                <p><input type="password" name="passwd" id="passwd" placeholder="Mot de passe" required autocomplete="off"/><?php if($errorMsg['passwd']){echo 'value="error"';} ?><?php if($errorMsg['mail']){echo 'value="error"';} ?> </p>

                <p><a href="#">Mot de passe oublié ?</a></p>

                <p><input type="submit" value="Login"></p>

            </fieldset>

        </form>

        <p><span class="btn-round">ou</span></p>

        <p>

            <a class="facebook-before"><span class="fontawesome-facebook"></span></a>
            <button class="facebook">Connexion avec Facebook</button>

        </p>
    </div> <!-- end login -->
</body>
</html>
