<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>MonBonRepas - Profil</title>
	<meta name="description" content="">
	<link rel="stylesheet" href="public/css/style.css" type="text/css" media="screen"/>
	<script type="text/javascript" src="public/js/jquery.js"></script>
	
</head>
<body>

  <a href="dashboard"><img class="logo" src="public/images/logo.png" alt="MonBonRepas"></a>
  <div class="content">
  						<!-- /////////////////////// NAVIGATION /////////////////////// -->
		<nav>
			<a href="Profil">
				<div class="profil">
					
					<div style="position:relative; height:86px;">
						<img class="circular" src="<?php echo $session_info->avatar; ?>">
					</div>
					     <p style="text-align:center; "><?php echo $session_info->prenom." ".$session_info->nom ?></p>
				</div>
			</a>
			<hr style="position:relative; top:25px;" /> 
			<a href="Gest_Repas">
						<div class="gerer"></div>
					    <p style="text-align:center">Gérer les repas</p>
			</a>
			<hr style="position:relative; top:10px;" /> 
			<a href="Crea_Repas">
						<div class="organiser"></div>
					    <p style="text-align:center;">Organiser un repas</p>
			</a>
			<hr style="position:relative; top:10px;" /> 
			<a href="Contact">
						<div class="voscontact"></div>
					    <p style="text-align:center;">Vos contacts</p>
			</a>
			<a href="logout" style="position:relative;left:25px;opacity:0.4;">Déconnection</a>
		</nav>
   						<!-- /////////////////////// NAVIGATION /////////////////////// -->

   		<!-- /////////////////////// MODIF PROFIL /////////////////////// -->
		<div class="corps">
    <form method="POST" action="Profil_avat"  enctype="multipart/form-data">
		<input name="MAX_FILE_SIZE" type="hidden" value="200000" >
		<input type="file" name="avatar">
		<input class="button" type="submit" value="Mofifier">
	</form>
	<form method="POST" action="Profil_info"  enctype="multipart/form-data">			<!-- MODIF -->
		<img style="position:absolute;float:left" height="250px" width="200px" src="<?php echo $profil->avatar; ?>" alt="Avatar" >
	<div class="name">
		<label>Nom : <input name="nom" type="text" value="<?php echo $profil->nom; ?>" ></label>
		<label>Prenom : <input name="prenom" type="text" value="<?php echo $profil->prenom; ?>" ></label>
		<label>Mail : <input name="mail" type="email" value="<?php echo $profil->mail; ?>" ></label>		
		<!-- <h2>DA GOOGLE MAP MOFO</h2>
		<input name="lat" type="hidden" value="<?php echo $profil->lat; ?>" >
		<input name="lng" type="hidden" value="<?php echo $profil->lng; ?>" > -->
		<input class="button" type="submit" value="Mofifier">
		<p><?php echo $errorInfo;?></p>
	</div>
	</form>
	<hr>
	<form method="POST" action="Profil_pswd">
		<label>Ancien pass : <input name="old_pswd" type="password"></label>
		<label>Nouveau pass : <input name="new_pswd" type="password"></label>
		<label>Retaper nouveau pass : <input name="new_pswd_bis" type="password"></label>
		<input class="button" type="submit" value="Modifier">
		<p><?php echo $errorPswd;?></p>
	</form>
	<hr>

 		</div>
 	<!-- /////////////////////// MODIF PROFIL /////////////////////// -->


 	<!-- /////////////////////// BLOC ORANGE GOUT /////////////////////// -->
 		<span class="com" >
 			
			<span id="arrow"></span>

			<form method="POST" action="Profil_gout">
		<h2 style="color:#fbf0ef;">Ce que je n'aime pas :(</h2>
			<h3>Viandes : </h3>
			<?php $i = 0;
				  foreach($aliments as $item) :?>
				<?php if($item->categorie == "Viande") :?>
					<label><input type="checkbox" name="0_<?php echo $i; ?>" <?php if ($gout['0_'.$i] == 'on') { echo 'checked="checked"'; } ?> ><?php echo $item->aliment; ?></label>
				<?php $i++;
					  endif;?>
			<?php endforeach;?>
			<hr style="opacity:0.2">
			<h3>Légumes : </h3>
			<?php $i = 0;
				  foreach($aliments as $item) :?>
				<?php if($item->categorie == "Légume") :?>
					<label><input type="checkbox" name="1_<?php echo $i; ?>" <?php if ($gout['1_'.$i] == 'on') { echo 'checked="checked"'; } ?> ><?php echo $item->aliment; ?></label>
				<?php $i++;
					  endif;?>
			<?php endforeach;?>
			<h3>Poissons : </h3>
			<?php $i = 0;
				  foreach($aliments as $item) :?>
				<?php if($item->categorie == "Poisson") :?>
					<label><input type="checkbox" name="1_<?php echo $i; ?>" <?php if ($gout['2_'.$i] == 'on') { echo 'checked="checked"'; } ?> ><?php echo $item->aliment; ?></label>
				<?php $i++;
					  endif;?>
			<?php endforeach;?>
			<h3>Accompagnements : </h3>
			<?php $i = 0;
				  foreach($aliments as $item) :?>
				<?php if($item->categorie == "Accompagnement") :?>
					<label><input type="checkbox" name="1_<?php echo $i; ?>" <?php if ($gout['3_'.$i] == 'on') { echo 'checked="checked"'; } ?> ><?php echo $item->aliment; ?></label>
				<?php $i++;
					  endif;?>
			<?php endforeach;?>
			<h3>Desserts : </h3>
			<?php $i = 0;
				  foreach($aliments as $item) :?>
				<?php if($item->categorie == "Fruit") :?>
					<label><input type="checkbox" name="1_<?php echo $i; ?>" <?php if ($gout['4_'.$i] == 'on') { echo 'checked="checked"'; } ?> ><?php echo $item->aliment; ?></label>
				<?php $i++;
					  endif;?>
			<?php endforeach;?>
			<h3>Fromage : </h3>
			<?php $i = 0;
				  foreach($aliments as $item) :?>
				<?php if($item->categorie == "Fromage") :?>
					<label><input type="checkbox" name="1_<?php echo $i; ?>" <?php if ($gout['5_'.$i] == 'on') { echo 'checked="checked"'; } ?> ><?php echo $item->aliment; ?></label>
				<?php $i++;
					  endif;?>
			<?php endforeach;?>
			<input type="submit" value="Valider">
			<p><?php echo $errorGout;?></p>
			<hr style="opacity:0.2">

		</span>
 		<!-- /////////////////////// BLOC ORANGE GOUT /////////////////////// -->
  </div>

</body>
</html>